@import "tailwindcss";

:root {
    --text-main: #171717;
    --bg-main: #f2f1ec;
    --bg-muted: #eae9e1;
    --border-main: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --text-main: #f2f1ec;
        --bg-main: #171717;
        --bg-muted: #242424;
        --border-main: #f2f1ec;
    }
}

body {
    background-color: var(--bg-main);
    color: var(--text-main);
}
